In [1]:
import pandas

In [2]:
data = pandas.read_csv("handles")

In [3]:
data.drop('Timestamp', inplace = True, axis = 1)

In [4]:
data.drop('Email Address', inplace = True, axis = 1)

In [5]:
data.to_csv()

               Name Roll No.   Codeforces Handle
0        Vivek Moar   B18037  404_HandleNotFound
1     Anam Siddiqui   B18046              anam09
2      Sachit Batra   b18137        Sachit_Batra
3     Sanskar gupta   B18140          Unpossible
4           Saksham   B18190          saksham199
..              ...      ...                 ...
91            Smiti   b21137          smitioswal
92   Sarvesh Jadhav   B21193           Sarvesh43
93            ritik   b21220         HYDRA_RITIK
94  Arvasu Kulkarni   B21245          CodingFish
95      Vinay Faria   T21006          vinayfaria

[96 rows x 3 columns]